* {
  box-sizing: border-box;
}

body {
  --color1: #430c05;
  --color2: #d46f4d;
  --color3: #ffbf66;
  --color4: #08c5d1;
  --color5: #00353f;
}
#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  
}
.auth {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  width: 100%;
  height: 350px auto;
  padding: 15px;
  border-radius: 20px;
}



.bigDaddyDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--color5);
  color: white;
  width: 100%
}

form, label  {
  display: flex;
  flex-direction: column;
  align-self: center;
}
.center:hover {
  opacity: 1;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-self: center;
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 150%;
  max-width: 350px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
}

.auth h2 {
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
  /* display: inline-block; */
  margin: 10px 8px 10px 8px;
  color: #CCCCCC;
}
.auth h2:hover {
  color: #0D0D0D;
  border-bottom: 2px solid #5FBAE9;
  cursor: pointer;
  text-underline-position: fit-content;
  /* width: fit-content; */
}

.auth h2:active {
  color: #0D0D0D;
  border-bottom: 2px solid #5FBAE9;
  cursor: pointer;
  text-underline-position: fit-content;
  /* width: fit-content; */
}

.sign input[type=email],
.sign input[type=submit],
.sign input[type=password] {
  background-color: var(--color5);
  border: none;
  color: var(--color3);
  padding: 15px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
  box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 2px 4px 2px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.sign input[type=email]:hover,
.sign input[type=submit]:hover,
.sign input[type=password]:hover {
  background-color: var(--color1) ;
}

.auth button {
  opacity: .5;
  width: 150px;
  height: 40px;
  margin: auto;
  margin-bottom: 10px;
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
}

.links {
  width: 250px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

a {
  text-decoration: none;
  color: var(--color3);
}

.appName {
  color: var(--color3)
}

.coffeeListPage {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
}

.sideBar {
  display: flex;
  top: 10px;
  position: sticky;
  margin-top: 15px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: var(--color1);
  border-radius: 5px;
  padding: 10px;
  color: white;
} 

.shopList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.coffeeShopItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 15px;
  margin: 10px;
  text-align: center;
}

.coffeeShopItem li {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.coffeeShopItem img {
  margin-bottom: 15px;
  max-height: 100%;
  max-width: 100%;
  border-radius: 5px;
  filter: saturate(130%) contrast(115%) drop-shadow(5px 5px 5px);
}

.sideBar button {
  border-radius: 5px;
  border: none;
  color: var(--color2);
  height: 30px;
  font-weight: bold;
}

.sideBar h3 {
  margin-top: -5px;
  margin-bottom: -20px;
}

.sideBar input {
  height: 30px;
  font-size: 15px;
}

.coffeeShopItem img:hover {
  transform: scale(1.1);
}

.coffeeShopItem button {
  border-radius: 5px;
  height: 30px;
  color: white;
  background-color: var(--color4);
  border: none;
  font-weight: bold;
  font-family: 'Lato';
  filter: saturate(130%) contrast(115%) drop-shadow(black 2px 2px 5px);
}

 .favPage {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   width: 100%;
   flex-wrap: wrap;
 }

 
 .favItem {
   cursor: pointer;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
   width: 400px;
   height: 80px;
   margin: 15px;
   padding: 15px;
   background-color: var(--color2);
   border-radius: 20px;
   border: 2px solid var(--color5);
   color: white;
   font-weight: bold;
   font-size: larger;
  }
  
  .favoritesInfo {
  display: flex;
  align-self: flex-start;
  top: 10px;
  position: sticky;
  margin: 15px 50px 20px 0;
  background-color: var(--color1);
  border-radius: 5px;
  padding: 10px;
  color: white;
 }
 
 .detailedFav img{
  max-height: 600px;
  width: 400px;
}

button {
  cursor: pointer;
}

.favItem p {
  margin: 5px 0 0 0;
  font-size: medium;
   font-weight: normal;
  }

.favItem:hover {
  background-color: var(--color4);
}

.favoritesList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  height: auto;
  list-style-type: none;
  width: 1000px;
}

.footerTho {
  height: 70px;
  
  flex-shrink: 0
}